<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="Ctrl">
<head>
    <script src="js/dependencies/jquery.min.js"></script>
    <script src="js/dependencies/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="js/dependencies/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VK 2 Harjoitus | Olli Suutari</title>
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>
<div class="container">
    <div class="well">
        <h3>Uuden opiskelijan lisäys</h3>
        <form name="studentForm" ng-submit="submitStudentForm(studentForm.$valid)" novalidate>
            <!-- names -->
            <div class="form-group" ng-class="{ 'has-error' : studentForm.name.$invalid &&
                    !studentForm.name.$pristine }">
                <label>Etunimet</label>
                <input text-input name="name" class="form-control" ng-model="user.name"
                       maxlength="40" required placeholder="*">
                <p ng-show="studentForm.name.$invalid && !studentForm.name.$pristine" class="help-block"
                >Etunimi vaaditaan</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : studentForm.calling_name.$invalid &&
                    !studentForm.calling_name.$pristine }">
                <label>Kutsumanimi</label>
                <input text-input name="calling_name" class="form-control" ng-model="user.calling_name"
                       maxlength="40" required placeholder="*">
                <p ng-show="studentForm.calling_name.$invalid && !studentForm.calling_name.$pristine"
                   class="help-block">Kutsumanimi vaaditaan</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : studentForm.surname.$invalid &&
                    !studentForm.surname.$pristine }">
                <label>Sukunimi</label>
                <input text-input name="surname" class="form-control" ng-model="user.surname"
                       maxlength="40" required placeholder="*">
                <p ng-show="studentForm.surname.$invalid && !studentForm.surname.$pristine"
                   class="help-block">Sukunimi vaaditaan</p>
            </div>
            <!-- student_id -->
            <div class="form-group" ng-class="{ 'has-error' : studentForm.student_id.$invalid &&
                    !studentForm.student_id.$pristine }">
                <label>Opiskelijanumero</label>
                <!-- student_id -->
                <input number-input name="student_id" class="form-control" ng-model="user.student_id" ng-trim="false"
                       maxlength="7" ng-minlength="7" required placeholder="*">
                <p ng-show="studentForm.student_id.$invalid && !studentForm.student_id.$pristine" class="help-block"
                >Opiskelijanumero koostuu seitsemästä numerosta</p>
            </div>
            <!-- Email -->
            <div class="form-group" ng-class="{ 'has-error' : studentForm.email.$invalid &&
                    !studentForm.email.$pristine }">
                <label>Sähköpostiosoite</label>
                <input name="email" class="form-control" ng-model="user.email"
                       maxlength="80" ng-minlength="4" required placeholder="*">
                <p ng-show="studentForm.email.$invalid && !studentForm.email.$pristine"
                   class="help-block">Sähköpostiosoite vaaditaan</p>
            </div>
            <br>
            <button type="submit" class="btn btn-info btn-lg">Lisää uusi opiskelija</button>
            <br><br>
        </form>
        <br>
    <h3>Opiskelijan hakeminen</h3>
    <form name="searchForm" ng-submit="submitSearchForm()" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : searchForm.search_surname.$invalid &&
                !searchForm.search_surname.$pristine }">
            <label>Sukunimi</label>
            <input text-input name="search_surname" id="search_surname" class="form-control" ng-model="user.search_surname"
                   maxlength="40">
        </div>
        <!-- student_id -->
        <div class="form-group" ng-class="{ 'has-error' : searchForm.search_student_id.$invalid &&
                !searchForm.search_student_id.$pristine }">
            <label>Opiskelijanumero</label>
            <!-- student_id -->
            <input number-input name="search_student_id" id="search_student_id"
                   class="form-control" ng-model="user.search_student_id" ng-trim="false" maxlength="7">
        </div>

        <br>
        <button type="submit" class="btn btn-info btn-lg">Hae</button>
        <br><br>
    </form>
    <br><br>
    <h3>Lista opiskelijoista</h3>
        <div>
            <div class="row">
                <table id="student_list"></table>
            </div>
        </div>
    <br><br>
    <h3>Valitun opiskelijan tiedot:</h3>
    <br>
    <form>
        <div class="form-group">
            <label for="selected_name">Etunimi:</label>
            <input type="text" class="form-control" id="selected_name" disabled>
        </div>
        <div class="form-group">
            <label for="selected_surname">Sukunimi:</label>
            <input type="text" class="form-control" id="selected_surname" disabled>
        </div>
        <div class="form-group">
            <label for="selected_calling_name">Kutsumanimi:</label>
            <input type="text" class="form-control" id="selected_calling_name" disabled>
        </div>
        <div class="form-group">
            <label for="selected_student_id">Opiskelijanumero:</label>
            <input type="text" class="form-control" id="selected_student_id" disabled>
        </div>
        <div class="form-group">
            <label for="selected_email">Sähköposti:</label>
            <input type="email" class="form-control" id="selected_email" disabled>
        </div>
    </form><br><br>

</div>
</div>
<script>
    // Talletetaan student_list divin tyhjä muoto, näin se voidaan nollata jos niitä haetaan useampaan kertaan.
    $(document).ready(function() {
        $('#student_list').data('old-state', $('#student_list').html());
    });

    // Nämä laukaisevat mainitut funktion app.js:stä.
    deleteStudent = function(id) {
    };
    getStudentDetails = function(id) {
    };
</script>
</body>
</html>